<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    <h1>TODO CATEGORIES</h1>
    <p class="text-info">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)=' f.form.valid && onSubmit(f)' class="form-inline">
        <div class="col-md-10 form-group">
          <input type="text" placeholder="Add New Categories here" name="categoryName" class=" form-control-plaintext  drop-shadow"  [(ngModel)] = 'categoryName' required #category = 'ngModel' [ngClass] = "{'border-danger': f.submitted && category.invalid }">
        </div>
        <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">{{ dataStatus }}</button>

        <div class="text-danger ml-3" *ngIf = 'f.submitted && category.invalid && category.errors.required' >
          Category is Required ..
        </div>

      </form>
  </div>
</div>

<div class="row categories-list">
  <div class="col-md-3" *ngFor = 'let category of categories'>
    <div class="card drop-shadow" [style.border-left-color] = 'category.data.colorCode'>
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <div class="badge badge-primary"> CATEGORY </div>
          </div>
          <div class="float-right cat-tools">
            <small><i class="fa fa-pencil-alt text-success" (click) = 'onEdit(category.data.category, category.id)'></i></small>
            <small><i class="fas fa-trash text-danger" (click) = 'onDelete( category.id )'></i></small>
          </div>
        </div>

        <div class="todo-content" [routerLink] = "['/todo', category.id]">
          <h3 [style.color] = 'category.data.colorCode'>{{ category.data.category }}</h3>
          <small class="text-secondary"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </small>
        </div>
        <span class="badge badge-danger">{{ category.data.todoCount }} - Todos</span>

      </div>
    </div>
  </div>
</div>
